.mainContainer {
  padding: 20px;
  background-color: #fff;
}

.header {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-bottom: 10px;
  color: #003366;
  font-size: 2rem;
  font-weight: 800;
  
}

.subHeader {
  text-align: center;
  color: #e91e63;
  margin: 15px 0;
  font-size: 1rem;
  font-weight: 400;
}

@media (max-width: 600px) {
  .subHeader {
    font-size: 0.875rem;
  }
}

@media (max-width: 400px) {
  .subHeader {
    font-size: 0.75rem;
    font-weight: 300;
  }
}

@media (min-width: 601px) and (max-width: 960px) {
  .subHeader {
    font-size: 1rem;
  }
}

@media (min-width: 961px) and (max-width: 1280px) {
  .subHeader {
    font-size: 1.125rem;
  }
}

@media (min-width: 1281px) {
  .subHeader {
    font-size: 1.25rem;
  }
}

.dots {
  text-align: center;
  margin-bottom: -5px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: var(--dot-color);
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.customCard {
  max-width: 345px;
  margin: 20px;
  position: relative;
  border-radius: 0px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.6s, box-shadow 0.6s;
}

.customCard:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .customCard {
    max-width: 90%;
    margin: 10px 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .customCard {
    max-width: 45%;
  }
}

.customCardMedia {
  height: 200px;
  position: relative;
}

.dateOverlay {
  position: absolute;
  top: 10px;
  right: 10px;
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.customCardContent {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  transition: background-color 0.6s, color 0.6s;
}

.userInfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.userName {
  margin-left: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.title {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.description {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #555;
}

.customCardActions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16px;
  padding-bottom: 16px;
  background-color: #f5f5f5;
  position: relative;
  overflow: hidden;
}

.readMoreText {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 10px;
}
